<!DOCTYPE html>
<html>
<head>
    <title> Beaute Bakery</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
     
      <img id="logo" src="bakeryLogo.png">
     
      <div id="navbar">
        <a href="/home">Home</a>
        <a href="/Cookies">Cookies</a>
        <a href="/Cakes">Cakes</a>
        <a href="/Muffins">Muffins</a>
        <a href="/Contact">Contact Us</a>
      </div>
    </header>


    <div id="cak1">
        <%= @@p %>
        <%= @@p1 %>
        <%= @@p2 %>
        <%= @@p3 %>
    </div>

    <div id="cak2">
         <%= @@pa %>
        <%= @@pa1 %>
        <%= @@pa2 %>
        <%= @@pa3 %>
    </div>

    <div id="cak3">
         <%= @@pag %>
        <%= @@pag1 %>
        <%= @@pag2 %>
        <%= @@pag3 %>
    </div>











    

    </body>
</html>