
<div id="ba">

    <div id="cak1">
        <%= @@p %>
         <br>
    <br>
        <img id="ca1" src="<%= @@p1 %>">
         <br>
    <br>
        <%= @@p2 %>
         <br>
    <br>
        <%= @@p3 %>
    </div>
    <br> 
    <br> 
     <br>
    <br>


    <div id="cak2">
         <%= @@pa %>
          <br>
    <br>
        <img id="ca2" src="<%= @@pa1 %>">
         <br>
    <br>
        <%= @@pa2 %>
         <br>
    <br>
        <%= @@pa3 %>
    </div>
    <br>
    <br>
     <br>
    <br>

    <div id="cak3">
         <%= @@pag %>
          <br>
    <br>
        <img id="ca3" src="<%= @@pag1 %>">
         <br>
    <br>
        <%= @@pag2 %>
         <br>
    <br>
        <%= @@pag3 %>
    </div>


</div>








    

