
<div id="ba">
    <div id="cook1">
        <%= @@page %>
         <br>
    <br>
         <img id="co1" src="<%= @@page1 %>">
          <br>
    <br>
        <%= @@page2 %>
         <br>
    <br>
        <%= @@page3 %>

    </div>
    <br>
     <br>
    <br>
    <br>

    <div id="cook2">
        <%= @@pages %>
         <br>
    <br>
        <img id="co2"src="<%= @@pages1 %>">
         <br>
    <br>
        <%= @@pages2 %>
         <br>
    <br>
        <%= @@pages3 %>
    </div>
 <br>
    <br> <br>
    <br>

    <div id="cook3">
        <%= @@pagess %>
         <br>
    <br>
        <img id="co3"src="<%= @@pagess1 %>">
         <br>
    <br>
        <%= @@pagess2 %>
         <br>
    <br>
        <%= @@pagess3 %>
    </div>

</div>










  