<!DOCTYPE html>
<html>
<head>
    <title> Beaute Bakery</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
     
      <img id="logo" src="bakeryLogo.png">
     
      <div id="navbar">
        <a href="/home">Home</a>
        <a href="/Cookies">Cookies</a>
        <a href="/Cakes">Cakes</a>
        <a href="/Muffins">Muffins</a>
        <a href="/Contact">Contact Us</a>
      </div>
    </header>


    <div id="muf1">
        <%= @@po %>
        <%= @@po1 %>
        <%= @@po2 %>
        <%= @@po3 %>
    </div>

    <div id="muf2">
        <%= @@pos %>
        <%= @@pos1 %>
        <%= @@pos2 %>
        <%= @@pos3 %>
    </div>

    <div id="muf3">
        <%= @@poss %>
        <%= @@poss1 %>
        <%= @@poss2 %>
        <%= @@poss3 %>
    </div>










    </body>
</html>