
<div id="ba">

    <div id="muf1">
        <%= @@po %>
         <br>
    <br>
       <img id="mu1" src="<%= @@po1 %>">
        <br>
    <br>
        <%= @@po2 %>
         <br>
    <br>
        <%= @@po3 %>
    </div>
     <br>
      <br>
    <br>
    <br>
    <div id="muf2">
        <%= @@pos %>
         <br>
    <br>
         <img id="mu2"src="<%= @@pos1 %>">
          <br>
    <br>
        <%= @@pos2 %>
         <br>
    <br>
        <%= @@pos3 %>
    </div>
 <br>
    <br>
     <br>
    <br>

    <div id="muf3">
        <%= @@poss %>
         <br>
    <br>
        <img id="mu3"src="<%= @@poss1 %>">
         <br>
    <br>
        <%= @@poss2 %>
         <br>
    <br>
        <%= @@poss3 %>
    </div>
</div>









 